.image_Upload{
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
   background-color: white;
   
}
.button_add_post{
    position: fixed;
    bottom: 10px;
    right: 10px;
}